

.title {
 font-family: 'Courier New', Courier, monospace;

}

.square {
background-color: aqua;
width: 200px;
height: 200px;
border-radius: 20px;
}

.button{
    color: blue;
    background-color: aquamarine;
    padding: 15px;

}

